.navbar{
  background-color: #1f54c0;
}

.search{
  margin: 50px 0;
}
.search .searchButton{
  height: 55px;
}

.productList{
  margin: 50px 0;
}

.productList .productDescription{
  padding: 0 20px 15px;
}

.productDescription .title{
  text-align: center;
}

.productList .productImage{
  width: 100%;
}
.productList .description{
  text-align: justify;
}

.productList .counter{
  font-weight: 600;
  color: #f00;
  font-size: 14px;
}

.productList .buttonBid{
  font-size: 18px;
  font-weight: bold;
  font-family: "Ubuntu", "Roboto", sans-serif;
}

.linkToDetail{
  text-align: center;
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 18px;
  border: 1px solid #1f54c0;
  border-radius: 7px;
  color: #1f54c0;
}

footer{
  text-align: center;
  margin: 30px 0 15px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}